---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

// images
import me from "../assets/images/me.png";
---

<Layout>
  <div id="main-container">
    <div id="avatar-container" class="w-40 p-3">
      <Image
        src={me}
        alt="me"
        class="rounded-full ring ring-offset-4 ring-offset-slate-400 ring-slate-400"
      />
    </div>
  </div>
</Layout>

<style>
  #avatar-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
