---

---

<footer class="footer mt-8 text-center flex justify-center">
  <div class="stats sm:stats-horizontal stats-vertical shadow">
    <div class="stat">
      <div class="stat-title">Total Viewer</div>
      <div class="stat-value">3100000</div>
      <div class="stat-desc">From Oct.10th, 2023</div>
    </div>

    <div class="stat">
      <div class="stat-title">CV Downloads</div>
      <div class="stat-value">30</div>
      <div class="stat-desc">From Oct.10th, 2023</div>
    </div>

    <div class="stat">
      <div class="stat-title">Goods</div>
      <div class="stat-value">4200</div>
      <div class="stat-desc">From Oct.10th, 2023</div>
    </div>
  </div>
</footer>
