---
const { title } = Astro.props;
---

<div class="navbar bg-base-100 w-11/12 mt-2 mx-auto shadow-md rounded-xl">
  <div class="flex-1 ml-4">
    <h2 class="text-xl font-bold">{title}</h2>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a class="text-base" href="/career">Career</a>
      </li>
      <li>
        <a class="text-base" href="/skills">Skills</a>
      </li>
      <li>
        <a class="text-base" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
