$main-text-color: #333333;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  color: $main-text-color;
}
