---
import { load } from "js-yaml";
import { readFileSync } from "fs";
import { SEO } from "astro-seo";
import { type IConfig } from "../types/config";

const config = load(readFileSync("config.yml", "utf8")) as IConfig;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={config.app.title} description={config.app.description} />
  </head>
  <body>
    <slot />
    <style is:global></style>
  </body>
</html>
