---
import { load } from "js-yaml";
import { readFileSync } from "fs";
import { SEO } from "astro-seo";
import { Icon } from "astro-icon";
import { type IConfig } from "../types/config";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// css
import "../assets/styles/reset.css";
import "../assets/styles/global.scss";

const config = load(readFileSync("config.yml", "utf8")) as IConfig;
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <SEO
      title={config.app.title}
      description={config.app.description}
      charset="utf-8"
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.png" }],
        meta: [
          { name: "generator", content: Astro.generator },
          { name: "viewport", content: "width=device-width" },
        ],
      }}
    />
  </head>
  <body class="w-11/12 mx-auto">
    <Header title={title} />
    <main>
      <div class="text-end my-2">
        <a
          class="btn normal-case my-4"
          href="/src/assets/files/cv.pdf"
          download="CV_Kyosuke_Konishi.pdf"
        >
          <Icon class="w-6 h-6 text-grey-600" pack="mdi" name="download" />
          <span>Download CV</span>
        </a>
      </div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
